snippet f
	function($1) {
		$2
	}
snippet f;
	function($1) {
		$2
	};
snippet (f
	(function($2) {
		$3
	}($1)
snippet f,
	function($1) {
		$2
	},
snippet :f
	$1: function($2) {
		$3
	}
snippet :f,
	$1: function($2) {
		$3
	},
