snippet f
	function(${1}) {
		${0}
	}
snippet f;
	function(${1}) {
		${0}
	};
snippet (f
	(function() {
		${0}
	}()
snippet f,
	function(${1}) {
		${0}
	},
snippet :f
	${1}: function(${2}) {
		${0}
	}
snippet :f,
	${1}: function(${2}) {
		${0}
	},
snippet cl
	console.log(${0});
snippet cll
	console.log(${1:'maksimrv: `Filename()`}', ${0});
